@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
form,
button {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  background-color: transparent;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

/* Root CSS */
:root {
  --color-black-basic: #000000;
  --color-black-bg: #131313;
  --color-light-black: #444444;
  --color-white-basic: #ffffff;
  --color-light-grey: rgba(247, 247, 247, 1);
  --color-deep-grey: rgba(221, 221, 221, 1);
  --color-blue: #0066ff;
  --color-yellow: #f7df16;
  --color-purple: #cb5cf4;

  --space-basic: 24px;

  --font-xsmall: 12px;
  --font-small: 14px;
  --font-regular: 20px;
  --font-medium: 24px;
  --font-large: 34px;

  --weight-bold: 700;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 73px 0 21px 0;
}

h3 {
  margin: 0;
}

form {
  padding: 5px 10px;
}

input {
  padding: 0 30px 0 18px;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-deep-grey);
  margin: 0;
  border: none;
}

/* Header CSS */
.header__container {
  width: 100%;
  height: 81px;
  padding: 28px var(--space-basic) 0 var(--space-basic);
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--color-white-basic);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1392px;
  min-width: 960px;
  margin: 0 auto;
}

.header__logo-block > a {
  display: inline-block;
  height: 25px;
  line-height: 25px;
}

.header__nav-block > .nav__list {
  display: flex;
  padding-bottom: var(--space-basic);
}

/* Header > nav */
.nav__list-item {
  margin-right: 30px;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

.nav__list-item:last-of-type {
  margin-right: 0;
}

.nav__list-item::after {
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  width: 0px;
  margin-top: 4px;
  background-color: var(--color-black-basic);
  transition: all 200ms linear;
}

.nav__list-item:hover::after {
  width: 100%;
}

.icon-icon {
  font-size: var(--font-regular);
  margin-right: 20px;
  cursor: pointer;
}

.icon-icon:last-of-type {
  margin-right: 0;
}

/* sitemap */
.header__sitemap {
  display: none;
  justify-content: center;
  position: fixed;
  top: 81px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  border-top: 1px solid var(--color-deep-grey);
  border-bottom: 1px solid var(--color-deep-grey);
  background-color: var(--color-light-grey);
  animation: topToBottom 150ms linear;
  z-index: 300;
}

.header__sitemap .active {
  color: var(--color-white-basic);
  background-color: var(--color-blue);
  transition: all 200ms ease-in-out;
}

.sitemap-block {
  box-sizing: content-box;
  padding: 32px 10px 32px 30px;
  border-left: 1px solid var(--color-deep-grey);
  max-width: 190px;
  min-width: 118px;
  width: 20%;
}

.sitemap-block:last-of-type {
  border-right: 1px solid var(--color-deep-grey);
}

.sitemap-block:hover {
  color: var(--color-white-basic);
  background-color: var(--color-blue);
  transition: all 200ms ease-in-out;
}

.sitemap-block:hover a {
  color: var(--color-white-basic);
  transition: all 200ms ease-in-out;
}

.sitemap-title {
  margin-top: 0;
  font-size: var(--font-medium);
}

.sitemap-block li {
  margin-bottom: 5px;
}

.sitemap-block li:last-of-type {
  margin-bottom: 0;
}

.sitemap-block li > a {
  display: inline-block;
  width: 100%;
  font-size: var(--font-small);
}

.sitemap-block li > a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 2px;
  background-color: var(--color-white-basic);
  transition: all 200ms linear;
}

.sitemap-block li > a:hover::after {
  width: 100%;
}

/* Main Section */
/* Main > Carousel */
.main__container {
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel-wrapper :is(.img-list) {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.carousel-wrapper :is(.img-box) {
  width: 100%;
  height: 100%;
}

.carousel-wrapper :is(.img-box > img) {
  display: block;
  width: 100%;
  height: 500px;
  min-width: 1392px;
  max-height: 500px;
  min-height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}

.carousel-wrapper :is(.desc-box) {
  box-sizing: content-box;
  position: absolute;
  top: 116px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  width: 100%;
  max-width: 1392px;
  min-width: 1024px;
  padding: 0 5%;
}

.carousel-wrapper :is(.first) {
  color: var(--color-white-basic);
}

.carousel-wrapper :is(.second, .third, .fourth, .fifth) {
  color: var(--color-black-basic);
}

.carousel-wrapper .showing {
  opacity: 1;
  z-index: 100;
  transition: all 500ms ease-in;
}

.carousel-wrapper :is(.img-title) {
  font-size: var(--font-large);
  margin: 0;
}

.carousel-wrapper :is(.img-desc) {
  font-size: var(--font-small);
  margin-top: 24px;
  margin-bottom: 46px;
}

.carousel-wrapper :is(.detail-link) {
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  padding: 10px 20px;
  background-color: var(--color-black-basic);
  color: var(--color-white-basic);
  border-radius: 20px;
  opacity: 1;
}

.carousel-wrapper :is(.detail-link):hover {
  opacity: 0.6;
  transition: opacity 200ms ease-in;
}

.carousel-wrapper :is(.left-btn, .right-btn) {
  color: var(--color-black-bg);
  position: absolute;
  font-size: calc(var(--font-large) * 1.5);
  z-index: 150;
  cursor: pointer;
  opacity: 0.5;
  top: 40%;
}

.carousel-wrapper :is(.left-btn) {
  left: 20px;
}

.carousel-wrapper :is(.right-btn) {
  right: 20px;
}

.carousel-wrapper button:hover {
  opacity: 1;
  transition: opacity 200ms linear;
}

.carousel-wrapper .status-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  z-index: 150;
}

.status-box :is(.status) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: var(--space-basic);
  background-color: var(--color-black-bg);
}

.status-box .checked {
  background-color: var(--color-yellow);
  width: 30px;
  border-radius: 15px;
}

.status-box :is(.play, .pause) {
  cursor: pointer;
  display: none;
}

.status-box .is-active {
  display: block;
}

/* Search Section */
.search__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  padding: 0 var(--space-basic);
  margin-bottom: 73px;
}

.search-form {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--color-deep-grey);
  margin-bottom: 10px;
}

.search-form > input {
  width: 100%;
  line-height: 32px;
}

.search-form > input:placeholder {
  color: var(--color-light-black);
}

.search-form > button {
  width: 40px;
  height: 40px;
  font-size: var(--font-medium);
  color: var(--color-light-black);
}

.search-tag {
  display: flex;
  justify-content: center;
}

.search-tag :is(a) {
  font-size: var(--font-small);
  color: var(--color-light-black);
  margin: 0 5px;
}

/* Product Section */
.product__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1392px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.product__list {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 1024px;
  padding: 0 var(--space-basic);
}

.product__list-item {
  min-width: 135px;
  padding-top: 45px;
  text-align: center;
}

.product__list-item > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  font-size: var(--font-small);
  position: relative;
}

.product__list-item > a::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 500ms ease-in-out;
  background-color: var(--color-purple);
}

.product__list-item:nth-child(4n) > a::after {
  bottom: 45px;
  right: 35px;
}

.product__list-item:nth-child(4n-1) > a::after {
  bottom: 45px;
  left: 35px;
}

.product__list-item:nth-child(4n-2) > a::after {
  top: 0;
  right: 35px;
}

.product__list-item:nth-child(4n-3) > a::after {
  top: 0;
  left: 35px;
}

.product__list-item > a:hover::after {
  transform: scale(1);
}

.product-icon {
  width: 96px;
  height: 96px;
  min-width: 96px;
}

.product-icon > img {
  width: 100%;
  height: 100%;
}

/* Banner Section */
.banner__container {
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  padding: 0 var(--space-basic);
  margin: 73px auto;
}

.banner-wrapper {
  display: flex;
  max-width: 1392px;
  min-width: 960px;
  width: 100%;
}

.banner__list-item {
  margin-right: var(--space-basic);
  cursor: pointer;
}

.banner__list-item:last-of-type {
  margin-right: 0;
}

.banner__list-item:hover .banner-img > img {
  transform: scale(1.05);
}

.banner-img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.banner-img > img {
  width: 100%;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.banner-title {
  margin: 0 24px 6px 24px;
}

.banner-desc {
  font-size: var(--font-small);
  margin: 0 24px;
}

/* Main Service CSS */
.main-service__container {
  width: 100%;
  max-width: 1440px;
  padding: 0 var(--space-basic);
  margin: 0 auto;
  margin-bottom: 80px;
}

.main-service__title {
  text-align: center;
}

.main-service__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1392px;
  min-width: 960px;
  width: 100%;
}

.main-service__list-item {
  display: flex;
  padding: 40px 20px;
  position: relative;
  flex: 1 0 33.3%;
  border-right: 1px solid var(--color-deep-grey);
}

.main-service__list-item:nth-child(3n) {
  border-right: none;
}

.main-service__list-item:nth-child(1),
.main-service__list-item:nth-child(2),
.main-service__list-item:nth-child(3) {
  border-bottom: 1px solid var(--color-deep-grey);
}

.main-service__list-item > a {
  width: 70%;
  height: 120px;
  position: relative;
}

.main-service__list-item > a::after {
  content: "바로가기";
  display: block;
  font-size: var(--font-small);
  text-decoration: underline;
  position: absolute;
  bottom: 0;
}

.main-service__list-item > a > h3 {
  font-size: var(--font-regular);
}

.main-service__list-item > a > p {
  opacity: 0;
  font-size: var(--font-xsmall);
  transition: opacity 400ms ease-in-out;
}

.main-service__list-item > a:hover > p {
  opacity: 1;
}

.main-service__list-item > .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 130px;
  font-size: 60px;
}

/* Blog CSS */
.blog__container {
  width: 100%;
  max-width: 1440px;
  padding: 0 var(--space-basic);
  margin: 0 auto 73px auto;
  text-align: center;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1392px;
  min-width: 960px;
  width: 100%;
  text-align: left;
}

.blog__list-item {
  display: flex;
  position: relative;
  flex: 1;
  margin-right: var(--space-basic);
}

.blog__list-item:last-of-type {
  margin-right: 0;
}

.blog__list-item .img-box {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.blog__list-item .img-box > img {
  width: 100%;
}

.blog__list-item .blog__list-title {
  margin: 16px 0 10px 0;
  padding: 0 20px;
}

.blog__list-item .blog__list-desc {
  font-size: var(--font-small);
  margin: 0;
  padding: 0 20px;
}

/* Notice CSS */
.notice__container {
  width: 100%;
  max-width: 1440px;
  padding: 0 var(--space-basic);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.notice__list {
  display: flex;
  flex: 1;
  border-radius: 20px;
  border: 1px solid var(--color-deep-grey);
}

.notice__list-item {
  padding: 30px;
  width: 100%;
  text-align: left;
  border-right: 1px solid var(--color-deep-grey);
}

.notice__list-item:last-of-type {
  border-right: none;
}

.notice__list-item > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.notice__list-item .notice__item-title {
  font-size: var(--font-small);
  margin-bottom: 10px;
}

.notice__list-item .notice__item-date {
  font-size: var(--font-xsmall);
}

/* Footer CSS */
.footer__container {
  width: 100%;
  border-top: 1px solid var(--color-deep-grey);
}
/* Pages CSS */
.pages__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 60px;
  max-width: 1440px;
  padding: 0 var(--space-basic);
  margin: 0 auto;
}

.pages__container > a {
  margin-right: var(--space-basic);
  font-size: var(--font-xsmall);
}

/* Company-info CSS */
.company-info__container {
  max-width: 1440px;
  padding: 0 var(--space-basic);
  margin: 20px auto 0 auto;
}

.company-info__data {
  font-size: var(--font-xsmall);
  margin: 0;
  margin-bottom: 10px;
}

.company-info__data:first-of-type {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.company-info__data span {
  position: relative;
  margin-right: 20px;
}

.company-info__data span::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  background-color: var(--color-deep-grey);
  position: absolute;
  top: 4px;
  right: -10px;
}

.top-btn {
  font-size: var(--font-large);
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  color: var(--color-blue);
  transition: opacity 200ms ease-in;
  outline: none;
}

.top-btn.visible {
  opacity: 1;
  z-index: 10000;
  pointer-events: auto;
}

/* animation section */
@keyframes topToBottom {
  0% {
    height: 0;
  }
  100% {
    height: 50%;
  }
}

/* Media Query */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .carousel-wrapper :is(.img-box > img) {
    max-width: 0;
    min-width: 1392px;
    max-height: 450px;
    min-height: 400px;
  }

  .product__list-item {
    /* 14%를 지정하는 이유는 7개일 때 100%이기 때문 */
    flex: 1 0 14%;
    min-width: 135px;
  }
}

@media screen and (min-width: 1440px) {
  .carousel-wrapper :is(.img-box > img) {
    width: 100%;
  }

  .product__list-item {
    width: 192px;
    height: 195px;
  }
}
