@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
form,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  background-color: transparent;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

/* Root CSS */
:root {
  --color-black-basic: #000000;
  --color-black-bg: #131313;
  --color-white-basic: #ffffff;
  --color-light-grey: rgba(247, 247, 247, 1);
  --color-deep-grey: rgba(221, 221, 221, 1);
  --color-blue: #0066ff;

  --space-basic: 24px;

  --font-xSmall: 12px;
  --font-small: 14px;
  --font-regular: 20px;
  --font-medium: 24px;
  --font-large: 34px;

  --weight-bold: 700;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 73px 0 21px 0;
}

form {
  padding: 5px 10px;
}

input {
  padding: 0 30px 0 18px;
}

/* Header CSS */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1392px;
  min-width: 960px;
  padding: 28px var(--space-basic) 0 var(--space-basic);
  margin: 0 auto;
  position: relative;
}

.header__logo-block > a {
  display: inline-block;
  height: 25px;
  line-height: 25px;
}

.header__nav-block > .nav__list {
  display: flex;
  padding-bottom: var(--space-basic);
}

/* nav */
.nav__list-item {
  margin-right: 30px;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

.nav__list-item:last-of-type {
  margin-right: 0;
}

.nav__list-item::after {
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  width: 0px;
  margin-top: 4px;
  background-color: var(--color-black-basic);
  transition: all 200ms linear;
}

.nav__list-item:hover::after {
  width: 100%;
}

/* sitemap */
.header__sitemap {
  display: none;
  justify-content: center;
  position: fixed;
  top: 81px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  border-top: 1px solid var(--color-deep-grey);
  border-bottom: 1px solid var(--color-deep-grey);
  background-color: var(--color-light-grey);
  animation: topToBottom 150ms linear;
}

.header__sitemap .active {
  color: var(--color-white-basic);
  background-color: var(--color-blue);
  transition: all 200ms ease-in-out;
}

.sitemap-block {
  box-sizing: content-box;
  padding: 32px 10px 32px 30px;
  border-left: 1px solid var(--color-deep-grey);
  max-width: 190px;
  min-width: 118px;
  width: 20%;
}

.sitemap-block:last-of-type {
  border-right: 1px solid var(--color-deep-grey);
}

.sitemap-block:hover {
  color: var(--color-white-basic);
  background-color: var(--color-blue);
  transition: all 200ms ease-in-out;
}

.sitemap-block:hover a {
  color: var(--color-white-basic);
  transition: all 200ms ease-in-out;
}

.sitemap-title {
  margin-top: 0;
  font-size: var(--font-medium);
}

.sitemap-block li {
  margin-bottom: 5px;
}

.sitemap-block li:last-of-type {
  margin-bottom: 0;
}

.sitemap-block li > a {
  display: inline-block;
  width: 100%;
  font-size: var(--font-small);
}

.sitemap-block li > a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 2px;
  background-color: var(--color-white-basic);
  transition: all 200ms linear;
}

.sitemap-block li > a:hover::after {
  width: 100%;
}

.icon-icon {
  font-size: var(--font-regular);
  margin-right: 20px;
  cursor: pointer;
}

.icon-icon:last-of-type {
  margin-right: 0;
}

/* animation section */
@keyframes topToBottom {
  0% {
    height: 0;
  }
  100% {
    height: 50%;
  }
}
